body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    padding: 20px;
}

.box {
    background-color: #f8c6d1; 
    padding: 32px 16px; 
    border-radius: 4.8px; 
    margin-bottom: 24px; 
}


.box-text {
    font-size: 30px; 
    font-weight: 300;
    text-align: center;
}

.form-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -8px; 
}

.form-column {
    flex: 1;
    padding: 8px; 
}

.input-field {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ced4da;
    border-radius: 4px; 
}

.submit-button {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
    padding: 8px 16px; 
    border-radius: 4px; 
    cursor: pointer;
    font-size: 16px; 
}

.submit-button:hover {
    background-color: #0056b3;
}

.text-center {
    text-align: center;
}

.margin-top {
    margin-top: 16px; 
}
