body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.box {
    background-color: #f8c6d1;
    padding: 32px 16px;
    border-radius: 4.8px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%; 
}

.box-text {
    font-size: 22.5pt;
    font-weight: 300;
    text-align: center;
}

.calculator {
    max-width: 320px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 100%;
    padding: 15px;
    font-size: 24pt;
    text-align: right;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.button {
    padding: 20px;
    font-size: 18pt;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
